body {
  background-color: #dddddd;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #f05454;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #30475e
}

h3 {
  color: #f05454
}
